.wrapper {
    height: 100vh;
    width: 100vw;
    background: green;
    
}

div.centre {
    width: 200px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }